<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-nfclowlevel" version="1.0.0" 
    xmlns="http://apache.org/cordova/ns/plugins/1.0" 
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>NFCLowLevel</name>
    <js-module name="NFCLowLevel" src="www/NFCLowLevel.js">
        <clobbers target="cordova.plugins.NFCLowLevel" />
    </js-module>
    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="NFCLowLevel">
                <param name="android-package" value="com.siemens.cordova.nfclowlevel.NFCLowLevel" />
                <param name="onload" value="true" />
            </feature>
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml">
            <uses-permission android:name="android.permission.NFC"/>
            <uses-feature android:name="android.hardware.nfc" android:required="true"/>
        </config-file>
        <source-file src="src/android/NFCLowLevel.java" target-dir="src/com/siemens/cordova/nfclowlevel" />
    </platform>
</plugin>
